@import "colors";
@import "fonts";
@import "font-awesome";
@import "grid-wrapper";
@import "global-container";
@import "bg-pool";
@import "masthead";
@import "nav-bar";
@import "hero-container";
@import "homepage-clickable";
@import "homepage-section-title";
@import "homepage-back-to-top";
@import "homepage-banner-band";
@import "homepage-ansible-band";
@import "homepage-ecosystem-band";
@import "homepage-blog-band";
@import "homepage-events-band";
@import "homepage-platform-band";
@import "ecosystem";
@import "mission-statement";
@import "training";
@import "ansible-content";
@import "homepage-learn-band";
@import "homepage-collection-band";
@import "homepage-adoption-band";
@import "homepage-pac-band";
@import "events";

body {
  background: $white;
  color: $black;
  font-weight: normal;
  font-family: $font-text;
  position: relative;
  min-height: 100vh;
  a {
    color: $blue-anchor;
  }
}
h1 {
  font-family: $font-display;
  font-size: $font-jumbo;
  text-transform: none;
}
h2 {
  font-family: $font-display;
  font-size: $font-xxl;
  text-transform: none;
}
h3 {
  font-family: $font-display;
  text-transform: none;
}
h4 {
  font-family: $font-display;
  margin-bottom: 1.2rem;
  text-transform: none;
}
h5 {
  font-family: $font-display;
  text-transform: none;
}
h6 {
  font-family: $font-display;
}

.banner {
  background: #DCEDFE;
}

.banner__content {
  padding: 16px;
  max-width: 866.79px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 78px;
}

.banner__text {
  flex-grow: 1;
  line-height: 1.4;
  line-height:24px;
  color:#151515;
  transform:translatex(0px) translatey(0px);
  font-size:12px;
  display:inline-block;

  p {
    line-height:24px;
    color:#151515;
  }
  b a {
    padding-left:24px;
    font-size:14px;
    line-height:27px;
    color:#0066cc;
  }
  b i {
    color:#0066cc;
  }
  img {
    padding-right:24px;
    display:inline-block;
    transform:translatex(0px) translatey(0px);
    width:181px;
    height:33px;
    max-width:181px;
  }
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close > span {
  color: #000000;
}