/* equivalent of 40px */
/* equivalent of 36px */
/* equivalent of 32px */
/* equivalent of 20px */
/* equivalent of 18px */
/* equivalent of 16px */
/* equivalent of 14px */
.fa {
  margin-right: 4px; }

.fa-arrow-up {
  background-color: transparent; }

.fa-arrow-right {
  background-color: transparent; }

.fa-calendar-check {
  color: #000000;
  background-color: transparent; }

.grid-wrapper,
.component-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
  clear: both; }

.width-1-12 {
  grid-column: span 1; }

.width-2-12 {
  grid-column: span 2; }

.width-3-12 {
  grid-column: span 3; }

.width-4-12 {
  grid-column: span 4; }

.width-5-12 {
  grid-column: span 5; }

.width-6-12 {
  grid-column: span 6; }

.width-7-12 {
  grid-column: span 7; }

.width-8-12 {
  grid-column: span 8; }

.width-9-12 {
  grid-column: span 9; }

.width-10-12 {
  grid-column: span 10; }

.width-11-12 {
  grid-column: span 11; }

.width-12-12 {
  grid-column: span 12; }

@media (max-width: 48em) {
  .width-1-12-m {
    grid-column: span 1; } }

@media (max-width: 48em) {
  .width-2-12-m {
    grid-column: span 2; } }

@media (max-width: 48em) {
  .width-3-12-m {
    grid-column: span 3; } }

@media (max-width: 48em) {
  .width-4-12-m {
    grid-column: span 4; } }

@media (max-width: 48em) {
  .width-5-12-m {
    grid-column: span 5; } }

@media (max-width: 48em) {
  .width-6-12-m {
    grid-column: span 6; } }

@media (max-width: 48em) {
  .width-7-12-m {
    grid-column: span 7; } }

@media (max-width: 48em) {
  .width-8-12-m {
    grid-column: span 8; } }

@media (max-width: 48em) {
  .width-9-12-m {
    grid-column: span 9; } }

@media (max-width: 48em) {
  .width-10-12-m {
    grid-column: span 10; } }

@media (max-width: 48em) {
  .width-11-12-m {
    grid-column: span 11; } }

@media (max-width: 48em) {
  .width-12-12-m {
    grid-column: span 12; } }

.global-container {
  padding: 0 13rem;
  padding-bottom: 4.5rem; }
  @media screen and (max-width: 1170px) {
    .global-container {
      padding: 0 6rem;
      padding-bottom: 4.5rem; } }
  @media screen and (max-width: 768px) {
    .global-container {
      padding: 0 2rem;
      padding-bottom: 7.5rem; } }
/** No vertical padding **/
.full-width-bg {
  margin: 0 -13rem;
  padding: 0 13rem; }
  @media screen and (max-width: 1170px) {
    .full-width-bg {
      margin: 0 -6rem;
      padding: 0 6rem; } }
  @media screen and (max-width: 768px) {
    .full-width-bg {
      margin: 0 -2rem;
      padding: 0 2rem; } }
/** Uses vertical padding **/
.full-width-band {
  margin: 0 -13rem;
  padding: 4rem 13rem; }
  @media screen and (max-width: 1170px) {
    .full-width-band {
      margin: 0 -6rem;
      padding: 3rem 6rem; } }
  @media screen and (max-width: 768px) {
    .full-width-band {
      margin: 0 -2rem;
      padding: 2rem 2rem; } }
/** Centers pages and blog posts **/
.center-band {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 13rem; }
  @media screen and (max-width: 1170px) {
    .center-band {
      padding: 3rem 6rem; } }
  @media screen and (max-width: 768px) {
    .center-band {
      padding: 2rem 2rem; } }
.max-width-prose {
  max-width: 80ch; }

.bg-pool {
  background-color: #5cbec1; }

/** Global masthead properties. **/
.masthead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  align-items: center;
  margin-top: 10px; }
  .masthead .navbar-right li {
    margin-left: 10px; }

/** Global navigation bar properties. **/
.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  text-align: center; }
  .navbar-brand img {
    width: 150px;
    height: auto;
    margin-right: 16px;
    min-width: 50px; }
  .navbar-brand #blog-title {
    color: #000000;
    font-size: 1.25rem; }
    .navbar-brand #blog-title:hover {
      color: #ffffff !important; }
  @media screen and (max-width: 992px) {
    .navbar-brand #blog-title {
      display: none; } }
/**
Global navigation bar properties.
Set overriding homepage properties in the hero-container class.
**/
.navbar {
  margin-bottom: 0 !important;
  border: 0 !important;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
  background-color: #c5e5e6; }
  .navbar a {
    font-size: 1rem;
    white-space: nowrap; }
  .navbar .dropdown-menu {
    background-color: #f0f0f0; }
    .navbar .dropdown-menu a {
      color: #000000 !important;
      padding: 0.75rem 1rem; }
      .navbar .dropdown-menu a:hover {
        color: #000000 !important; }
    .navbar .dropdown-menu .dropdown-item.active,
    .navbar .dropdown-menu .dropdown-item:active {
      background-color: #f0f0f0; }
  .navbar .dropdown-item:hover {
    background-color: #ffffff !important; }

.nav-link-color {
  color: #000000 !important; }
  .nav-link-color:hover {
    color: #004080 !important; }

.nav-toggle-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }

.hero-container {
  padding: 0 13rem;
  margin: 0 -13rem;
  background-image: url(/images/ansible-collaborative-hero-bkg.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  /** Navbar overrides for the homepage. **/ }
  @media screen and (max-width: 1170px) {
    .hero-container {
      margin: 0 -6rem;
      padding: 0 6rem; } }
  @media screen and (max-width: 768px) {
    .hero-container {
      margin: 0 -2rem;
      padding: 0 2rem; } }
  .hero-container .navbar {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .hero-container .nav-toggle-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }
  .hero-container .nav-link-color {
    color: #000000 !important; }
    .hero-container .nav-link-color:hover {
      color: #004080 !important; }
  .hero-container #blog-title:hover {
    color: #ffffff !important; }

/* styles for anchors and links */
/* controls anchors on the homepage
   that act like buttons */
.homepage-anchor {
  padding: 0.75rem;
  background-color: #004080;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap; }
  .homepage-anchor:hover {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #000000 !important; }

/* overrides homepage-anchor */
.platform-anchor {
  width: 100%;
  background-color: #ee0000;
  white-space: inherit; }

/* controls text elements next to
   anchors, such as fa icons */
.homepage-link {
  color: #0066CC;
  white-space: nowrap; }

.section-title {
  display: flex;
  flex-direction: column; }
  .section-title h2 {
    font-size: 2rem;
    text-transform: none; }
  .section-title p {
    font-size: 1.125rem;
    text-transform: none;
    padding: 1rem 0;
    transform: translatex(0px) translatey(0px);
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1.5em; }

.section-top {
  display: flex;
  align-items: center; }

.section-icon {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px; }

.section-view-more {
  font-size: 1rem;
  text-transform: none;
  margin-left: auto; }

.back-to-top {
  grid-row: 4;
  padding-top: 1rem;
  font-size: 1rem;
  text-transform: none; }

.homepage-banner-band {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6rem;
  gap: 10px; }

.banner-row {
  display: flex;
  flex-direction: row; }

.banner-main-content {
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 3rem;
  flex: 1; }
  .banner-main-content h1 {
    font-size: 2.25rem;
    font-weight: 600;
    text-decoration: solid; }
  .banner-main-content > h2 {
    padding-top: 12px;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: solid; }
  .banner-main-content > p {
    padding-top: 12px;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: solid; }

.banner-main-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.75rem; }

.banner-clipboard {
  display: flex; }
  .banner-clipboard .btn {
    display: flex;
    flex-direction: row;
    background-color: #ffffff !important;
    color: #004080 !important;
    border-width: 1px;
    border-radius: 2px;
    border-color: #004080 !important;
    margin-right: 1px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    font-weight: 500;
    align-items: center; }
    .banner-clipboard .btn:hover {
      background-color: #000000 !important;
      color: #ffffff !important; }

.popup {
  display: flex;
  padding: 0 3px;
  background-color: #000000 !important;
  color: #f0f0f0 !important;
  border-radius: 1px;
  font-size: 1rem;
  align-items: center; }

.popup.hidden {
  display: none; }

.banner-join-forum {
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 1.5rem;
  white-space: nowrap; }
  .banner-join-forum .banner-forum-link {
    color: #0066CC; }
    .banner-join-forum .banner-forum-link a {
      padding-left: 0.25rem; }

.banner-redhat-logo {
  width: 1.125rem;
  height: auto; }

.banner-welcome-image {
  display: flex; }
  .banner-welcome-image img {
    width: 25rem;
    max-width: none;
    padding-left: 4rem;
    justify-content: center; }

@media screen and (max-width: 1170px) {
  .banner-row {
    flex-direction: column; }
  .banner-platform-learn {
    white-space: normal; }
  .banner-welcome-image img {
    width: 25rem;
    padding-top: 2rem;
    padding-left: 0; }
  .banner-welcome-image {
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .banner-clipboard {
    display: none; }
  .homepage-anchor {
    width: 100%; } }

.homepage-ansible-band {
  background-color: #ffffff; }

.what-is-ansible {
  display: flex;
  flex-direction: column;
  margin: 0; }
  .what-is-ansible h3 {
    font-size: 1.125rem;
    font-weight: bold; }
  .what-is-ansible p {
    font-size: 1rem;
    font-weight: normal; }

.ansible-image {
  display: flex; }
  @media screen and (max-width: 768px) {
    .ansible-image img {
      display: none; } }
.ansible-works {
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 1.5rem;
  white-space: nowrap; }
  .ansible-works .ansible-works-link {
    color: #0066CC; }
    .ansible-works .ansible-works-link a {
      padding-left: 0.25rem; }

.homepage-ecosystem-band {
  background-color: #f0f0f0; }

.ecosystem-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: stretch; }

.ecosystem-content {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  justify-content: space-between; }
  .ecosystem-content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none; }
  .ecosystem-content p {
    font-size: 1rem;
    text-transform: none;
    text-align: left; }
  .ecosystem-content a {
    font-size: 1rem;
    white-space: nowrap; }
  .ecosystem-content .btn {
    color: #102441;
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 2px;
    border-color: #102441;
    width: fit-content;
    height: auto; }
    .ecosystem-content .btn:hover {
      background-color: #102441;
      color: #ffffff; }

.ecosystem-logo {
  width: 6rem;
  float: right; }
  @media screen and (max-width: 1170px) {
    .ecosystem-logo {
      width: 4rem; } }
  @media screen and (max-width: 768px) {
    .ecosystem-logo {
      width: 6rem; } }
.homepage-blog-band {
  background-color: #ffffff; }

.blog-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  @media screen and (max-width: 1170px) {
    .blog-box {
      flex-direction: column; } }
.blog-content {
  flex: 1;
  padding-right: 4rem; }
  @media screen and (max-width: 1170px) {
    .blog-content {
      padding-right: 0;
      padding-bottom: 2rem; } }
  .blog-content h3 {
    font-size: 1.25rem;
    text-transform: none; }
  .blog-content p {
    text-align: left; }
  .blog-content img {
    display: none; }

.blog-author p {
  font-size: 0.875rem;
  text-align: left;
  padding-bottom: 10px; }

.homepage-events-band {
  background-color: #ffffff;
  text-align: left; }

.events-content {
  flex: 1; }
  .events-content a {
    font-size: 1rem;
    color: #000000;
    text-transform: none; }
  .events-content p {
    text-align: left;
    font-size: 1.125rem; }
  .events-content .event-image {
    display: flex;
    width: 100%;
    height: 12.5rem;
    max-height: 12.5rem;
    align-items: center; }
  .events-content img {
    width: 60%;
    height: auto;
    margin-bottom: 1rem; }
  .events-content .event-title {
    display: flex; }
    .events-content .event-title a {
      color: #0066CC; }
    .events-content .event-title h3 {
      font-size: 1.25rem;
      text-transform: none;
      font-weight: 500; }
  .events-content .event-description {
    display: flex;
    margin-bottom: 1rem;
    max-width: 40ch; }
  .events-content .event-details {
    display: inline-block;
    width: 100%;
    max-height: 1rem;
    font-weight: 500; }

.homepage-platform-band {
  background-image: url(/images/ansible-collaborative-gray-bkg.png);
  background-size: cover; }

.platform-row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  min-height: 364px;
  transform: translatex(0px) translatey(0px);
  padding-top: 16px;
  padding-bottom: 0px; }

.platform-box-left {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  align-items: left; }
  .platform-box-left p {
    font-size: 16px; }
  .platform-box-left h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: none;
    color: #004080; }
  .platform-box-left h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: none;
    color: #004080;
    color: #000000; }
  .platform-box-left h4 {
    font-size: 1.125rem; }
  .platform-box-left img {
    width: 200px;
    height: 67px; }

.platform-box-right {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  align-items: left;
  transform: translatex(0px) translatey(0px); }
  .platform-box-right p {
    font-size: 1.125rem; }
  .platform-box-right img {
    max-width: 501px;
    min-height: 364px;
    transform: translatex(0px) translatey(0px);
    position: relative;
    left: -41px;
    top: 1px;
    width: 330px; }

@media (min-width: 1171px) {
  /* Platform */
  #platform {
    padding-top: 16px;
    padding-bottom: 0px; } }

.ecosystem-page {
  gap: 2rem; }
  .ecosystem-page h2 {
    font-size: 2rem;
    font-weight: normal;
    text-transform: none; }

.ecosystem-page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-bottom: 2rem; }
  .ecosystem-page-title p {
    font-size: 1.125rem; }

.ecosystem-project-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: stretch; }

.ecosystem-project-content {
  display: flex;
  flex-direction: column;
  padding-right: 2rem; }
  .ecosystem-project-content h3 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: none; }
  .ecosystem-project-content p {
    font-size: 1rem;
    text-transform: none;
    text-align: left; }
  .ecosystem-project-content ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0; }
  .ecosystem-project-content li {
    margin-top: 0.5rem; }
  .ecosystem-project-content a {
    color: #0066CC;
    font-size: 1rem; }

.ecosystem-project-logo {
  width: 6rem;
  float: right; }
  @media screen and (max-width: 1170px) {
    .ecosystem-project-logo {
      width: 4rem; } }
  @media screen and (max-width: 768px) {
    .ecosystem-project-logo {
      width: 6rem; } }
.mission-statement-title {
  margin: 0 -13rem;
  padding: 2rem 13rem;
  background-color: #f0f0f0; }
  .mission-statement-title h1 {
    text-align: center; }
  @media screen and (max-width: 1170px) {
    .mission-statement-title {
      margin: 0 -6rem;
      padding: 2rem 6rem; } }
  @media screen and (max-width: 768px) {
    .mission-statement-title {
      margin: 0 -2rem;
      padding: 1rem 2rem; } }
.mission-statement-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 13rem; }
  @media screen and (max-width: 1170px) {
    .mission-statement-body {
      padding: 1rem 6rem; } }
  @media screen and (max-width: 768px) {
    .mission-statement-body {
      padding: 1rem 2rem; } }
.mission-statement-image-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }
  @media screen and (max-width: 990px) {
    .mission-statement-image-row img {
      display: none; } }
.training {
  gap: 4rem; }
  @media screen and (max-width: 768px) {
    .training {
      gap: 2rem; } }
.training-title h1 {
  text-align: center; }

.training-card {
  display: flex;
  padding: 2rem;
  border: 1px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  justify-content: stretch;
  min-width: fit-content; }

.training-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .training-content h2 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none; }
  .training-content p {
    font-size: 1rem;
    text-transform: none;
    text-align: left; }
  .training-content a {
    font-size: 1rem; }

.training-coming-soon {
  margin-top: 2rem; }

/** Styling for pages and blog posts **/
.ansible-content h1,
.ansible-content h2,
.ansible-content h3,
.ansible-content h4,
.ansible-content h5,
.ansible-content h6 {
  font-weight: normal; }

.ansible-content code,
.ansible-content pre {
  color: #0066CC;
  max-width: 80ch; }

.ansible-content body,
.ansible-content p,
.ansible-content li {
  line-height: 1.75rem;
  max-width: 80ch; }

.ansible-content blockquote p,
.ansible-content li {
  font-weight: normal;
  font-family: RedHatText, "Red Hat Text", Overpass, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem; }

.ansible-content img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.ansible-content hr {
  border: 2px solid #004080;
  border-radius: 2px; }

/** Page headers **/
a.u-url {
  color: #000000 !important;
  text-decoration: none; }

a.ansible-button {
  display: inline-block;
  width: 100%;
  padding: 0.75rem;
  background-color: #004080;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap; }
  a.ansible-button:hover {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #000000 !important; }

/** Tags **/
.tags {
  list-style: none; }

.tags li a {
  text-decoration: none;
  font-size: 0.875rem;
  padding: 0.5rem;
  background-color: #004080;
  color: #ffffff;
  border-radius: 4px;
  margin: 1.75rem 0.25rem; }

.tags li a:hover {
  background-color: #000000; }

.homepage-learn-band {
  background-color: #ffffff; }

.learn-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: stretch; }

.learn-content {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  justify-content: space-between; }
  .learn-content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    color: #004080; }
  .learn-content h4 {
    font-size: 1.125rem; }
  .learn-content p {
    font-size: 1rem;
    text-transform: none;
    text-align: left;
    margin-bottom: 9px; }
  .learn-content a {
    font-size: 1rem;
    white-space: nowrap; }
  .learn-content .btn {
    color: #102441;
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 2px;
    border-color: #102441;
    width: fit-content;
    height: auto; }
    .learn-content .btn:hover {
      background-color: #102441;
      color: #ffffff; }

.learn-logo {
  width: 8rem;
  float: right; }
  @media screen and (max-width: 1170px) {
    .learn-logo {
      width: 6rem; } }
  @media screen and (max-width: 768px) {
    .learn-logo {
      width: 8rem; } }
.learn-ansible {
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 1.5rem;
  white-space: nowrap; }
  .learn-ansible .learn-ansible-link {
    color: #0066CC; }
    .learn-ansible .learn-ansible-link a {
      padding-left: 0.25rem; }

.homepage-collection-band {
  background-color: #ffffff; }

.collection-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: stretch; }

.collection-content {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  justify-content: space-between; }
  .collection-content h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    color: #004080; }
  .collection-content h4 {
    font-size: 1.125rem; }
  .collection-content p {
    font-size: 1rem;
    text-transform: none;
    text-align: left; }
  .collection-content a {
    font-size: 1rem;
    white-space: nowrap; }
  .collection-content .btn {
    color: #102441;
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 2px;
    border-color: #102441;
    width: fit-content;
    height: auto; }
    .collection-content .btn:hover {
      background-color: #102441;
      color: #ffffff; }

.collection-logo {
  width: 8rem;
  float: right; }
  @media screen and (max-width: 1170px) {
    .collection-logo {
      width: 6rem; } }
  @media screen and (max-width: 768px) {
    .collection-logo {
      width: 8rem; } }
.homepage-adoption-band {
  background-color: #ffffff; }

.what-is-adoption {
  display: flex;
  flex-direction: column;
  margin: 0; }
  .what-is-adoption h3 {
    font-size: 1.125rem;
    font-weight: bold; }
  .what-is-adoption p {
    font-size: 1rem;
    font-weight: normal; }

.ansible-image {
  display: flex; }
  @media screen and (max-width: 768px) {
    .ansible-image img {
      display: none; } }
.ansible-works {
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 1.5rem;
  white-space: nowrap; }
  .ansible-works .ansible-works-link {
    color: #0066CC; }
    .ansible-works .ansible-works-link a {
      padding-left: 0.25rem; }

body {
  background: #ffffff;
  color: #000000;
  font-weight: normal;
  font-family: RedHatText, "Red Hat Text", Overpass, "Helvetica Neue", Arial, sans-serif;
  position: relative;
  min-height: 100vh; }
  body a {
    color: #0066CC; }

h1 {
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5rem;
  text-transform: none; }

h2 {
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.25rem;
  text-transform: none; }

h3 {
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;
  text-transform: none; }

h4 {
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 1.2rem;
  text-transform: none; }

h5 {
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;
  text-transform: none; }

h6 {
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif; }

