/* equivalent of 40px */
/* equivalent of 36px */
/* equivalent of 32px */
/* equivalent of 20px */
/* equivalent of 18px */
/* equivalent of 16px */
/* equivalent of 14px */
.redhat-footer {
  background-color: #000000;
  font-family: RedHatDisplay, "Red Hat Display", Overpass, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  padding: 1rem 13rem;
  margin: 0 -13rem;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .redhat-footer .footer-left {
    flex: 1; }
  .redhat-footer .footer-left a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal; }
  .redhat-footer .footer-right {
    flex: 1;
    text-align: right; }
  .redhat-footer .redhat {
    grid-column: 9/12;
    align-self: center;
    justify-self: end;
    font-size: 0.75rem;
    font-weight: normal;
    color: #ffffff; }
    @media screen and (max-width: 1024px) {
      .redhat-footer .redhat {
        grid-column: 5/12;
        justify-self: right; } }
    @media screen and (max-width: 480px) {
      .redhat-footer .redhat {
        grid-column: 1/13;
        justify-self: center;
        order: 2; } }
  .redhat-footer .redhat-logo {
    grid-column: 12/13;
    justify-self: end;
    align-self: center; }
    @media screen and (max-width: 480px) {
      .redhat-footer .redhat-logo {
        grid-column: 1/13;
        justify-self: center;
        order: 1; } }
.footer-left-links {
  list-style-type: none;
  padding-left: unset; }
  .footer-left-links li {
    display: inline;
    margin-right: 1rem;
    white-space: nowrap; }

@media screen and (max-width: 1170px) {
  .footer-container {
    padding: 0 6rem; }
  .redhat-footer {
    padding: 1rem 6rem;
    margin: 0 -6rem; } }

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 0 2rem; }
  .redhat-footer {
    padding: 1rem 2rem;
    margin: 0 -2rem; }
  .footer-left-links li {
    display: block; } }

