<div class="ansible-banner">
  <div class="ansible-banner-text">
    <p>
      {{ banner.banner.cta }}
      <br>
      <a href="{{ banner.banner.survey_url }}" target="_blank">{{ banner.banner.href_text }}</a>
    </p>
  </div>
</div>
