<div class="grid-wrapper homepage-pac-band full-width-band"
     id="pac">
  <div class="section-title width-4-12 width-12-12-m">
    <div class="pac-row">
      <div class="pac-box-left">
        <img src="/images/ansible-pac-icon.png"
             alt="{{ homepage.pac.logo_alt }}"
             width="203"
             height="201" />
      </div>
      <div class="pac-box-right">
        <h3>{{ homepage.pac.main }}</h3>
        <p>{{ homepage.pac.discover }}</p>
        <p><b>{{ homepage.pac.cta }}:</b></p>
        <span class="homepage-link"><a href="{{ homepage.pac.link1_url }}" target="_blank">{{ homepage.pac.link1 }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
        <span class="homepage-link"><a href="{{ homepage.pac.link2_url }}" target="_blank">{{ homepage.pac.link2 }}</a>&ensp;<i class="fa fa-arrow-right" aria-hidden="true" /></span>
        </ul>        
      </div>
    </div>
  </div>
</div>
